<main>
    
    <p id="notice"></p>
    <% if flash[:notice] %>
      <div class="flash">
    <%= flash[:notice] %>
    
      </div>
    <% end %>
    <div class="container">
        <div class="row">
            <%= render 'users/list',user: @user %>
            <div class="col-md-8 offset-md-1">
                <h2>Book detail</h2>
                <table class="table">
                    <tbody>
                        <tr>
                          <td>
                            <%= link_to "/users/#{@user.id}" do %>
                            <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
                            <br>
                            <%= @user.name %>
                            <% end %>
                          </td>
                          <td>
                              <%= @book.title %>
                          </td>
                          <td>
                              <%= @book.body %>
                          <td>
                          <% if @user.id == current_user.id %>
                           <%= link_to "Edit",edit_book_path(@book.id),class:"btn btn-sm btn-success edit_book_26608"%>
                          <% end %>
                          </td>
                          <td>
                           <% if @user.id == current_user.id %>
                           <%= link_to "Destroy",book_path(@book.id), method: :delete,"data-confirm" => "Are you sure?",class:"btn btn-sm btn-danger destroy_book_26608"%>
                           <% end %>
                          </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>







    